// http://88and90lex.com/residences

$amaranth: #DA224B;
$jet-stream: #C0D7D2;
$prussian-blue: #002846;
$san-juan: #335064;
$timberwolf: #D7D3CB;
$twine: #BD9456;
$westar: #E0DCD4;
$whiskey: #D4AB6E;

$default-color: white;
