header {

  border-top: 4px solid $amaranth;
  @include depth(header);
  display: table;
  position: relative;
  width: 100%;

  &:after {
    border-bottom: 1px solid $san-juan;
    content: ' ';
    @include depth(header-underline);
    display: block;
    left: $content-margin-horizontal-xs;
    margin-top: -6px;
    position: absolute;
    right: $content-margin-horizontal-xs;
  }

  .header-content {
    display: table-row;
  }

  .header-title, .header-links {
    display: table-cell;
    padding-top: 18px;
    vertical-align: text-bottom;
  }

  a {
    @extend .no-underline;
  }

  .header-title {
    color: white;
    @include depth(header-title);
    padding-left: $content-margin-horizontal-xs;
    position: relative;
    &:hover {
      color: white;
    }
  }

  .header-links {
    font-size: .75em;
    padding-right: $content-margin-horizontal-xs;
    text-align: right;
    a {
      color: $jet-stream;
      &:hover {
      color: white;
    }
    }
  }

  @include respond-to(sm) {
    &:after {
      left: $content-margin-horizontal-sm;
      right: $content-margin-horizontal-sm;
    }
    .header-title {
      padding-left: $content-margin-horizontal-sm;
    }
    .header-links {
      padding-right: $content-margin-horizontal-sm;
    }
  }

}
